In [2]:
import pandas as pd
import numpy as np

#Series is 1d array like object ontaining data and labels
#datatype=int,str,f;oat,object
#data inputs=ndarray,dict,scalar,list
#series=lable(index)

In [3]:
fisrt_series=pd.Series(list("ABCDEF"))
print(fisrt_series)

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [5]:
country=np.array(["Delhi","Mumabai","Hyderabad","Thane","Kolkata","Navi Mumbai","Kerla","Bang;ore"])
print(country)

['Delhi' 'Mumabai' 'Hyderabad' 'Thane' 'Kolkata' 'Navi Mumbai' 'Kerla'
 'Bang;ore']

In [6]:
s_co=pd.Series(country)
print(s_co)

0          Delhi
1        Mumabai
2      Hyderabad
3          Thane
4        Kolkata
5    Navi Mumbai
6          Kerla
7       Bang;ore
dtype: object

In [7]:
#Evaluate countries and theis=r corresponding gdp prer capita and print them as series
dict_cgdp=pd.Series([5231.235,2365.5600,7894.3266,5641.256,6325.1230,78963,4563.32100,36910.2300],
                    index=["USA","INDIA","RUSSIA","CHINA","Norway","Japan","Singapore","Thailand"])

In [8]:
print(dict_cgdp)

USA           5231.2350
INDIA         2365.5600
RUSSIA        7894.3266
CHINA         5641.2560
Norway        6325.1230
Japan        78963.0000
Singapore     4563.3210
Thailand     36910.2300
dtype: float64

In [10]:
#print series with scalar input
s_series=pd.Series(5,index=["a",'b','c','d','e'])
print(s_series)

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [11]:
#Accessing data elements in the series
dict_cgdp[0]

5231.235

In [12]:
dict_cgdp[0:5]

USA       5231.2350
INDIA     2365.5600
RUSSIA    7894.3266
CHINA     5641.2560
Norway    6325.1230
dtype: float64

In [13]:
dict_cgdp.loc["INDIA"]

2365.56

In [14]:
dict_cgdp.iloc[0]

5231.235

In [15]:
#Vectorised operations in series 
one_vseries=pd.Series([1,2,3,4],index=['a','b','c','d'])
two_vseries=pd.Series([10,20,30,40],index=['a','b','c','d'])
print(one_vseries)
print(two_vseries)

a    1
b    2
c    3
d    4
dtype: int64
a    10
b    20
c    30
d    40
dtype: int64

In [16]:
one_vseries+two_vseries

a    11
b    22
c    33
d    44
dtype: int64

In [17]:
two_vseries=pd.Series([10,20,30,40],index=['c','d','a','b'])

In [18]:
one_vseries+two_vseries

a    31
b    42
c    13
d    24
dtype: int64

In [19]:
thr_vseries=pd.Series([10,20,30,40],index=['a','e','c','h'])

In [20]:
one_vseries+thr_vseries+two_vseries

a    41.0
b     NaN
c    43.0
d     NaN
e     NaN
h     NaN
dtype: float64